.App {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;

}

#top-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin: 2px;
  border-left: 0px;
  width: 95%;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link {
  background-color: #86B9E5;
  border-width: thin;
  border-color: Black;
  border-style: solid;
  margin: 10px;
  padding: 5%;
  width: 80%;
}

.boxed {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightGrey;
  border-width: thin;
  border-color: black;
  border-style: solid;
  margin-top: 40px;
}

.full-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
